div#main h1{
    margin-bottom: 1.5em;}
section#one h2{
    line-height: 0px;
    margin-left: 0ch;
    color: #8d82c4;

}
/* section#one h2:first-child{
    line-height: 8;
} */
h2 + h3{
    font-size: 1.25em;
    line-height: 25px;
    color: #8d82c4;
}
div.date h2  {
    font-size: 1.15em;
    line-height: 0px;
    /* margin: .2%; */
    color: #8d82c4;
    text-align: right;
    font-variant-caps: all-small-caps;
}
section#one p {
    text-align: justify;
    margin-bottom: 3em;
}
/* section#gallery span{
    background: yellow;
} */

div.gallery .row {
    display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
div.gallery .column {
    /* flex: 25%; */
  max-width: 100%;
  padding: 0 4px;
}s

.column img {
  margin: 10px;
  vertical-align: middle;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}